In [1]:
import pandas as pd
def read(filename,skip=10,index=0):
    try:
        xls = pd.ExcelFile(r'C:\Users\Admin\Downloads\{}.xlsx'.format(filename))

        df = xls.parse( skiprows=skip, index_col=index)
        psave(df,filename)
        return df
    except:
        print('{} failed'.format(filename))

### save and load data using pickle
import pickle
def psave(dataframe, fname):
    with open('{}.pkl'.format(fname),'wb') as pickle_file:
        pickle.dump(dataframe,pickle_file)
        
def pload(fname):
    with open('{}.pkl'.format(fname),'rb') as pickle_file:
        dataframe=pickle.load(pickle_file)
        return dataframe

In [8]:
dfs = pd.read_excel(r'C:\Users\Admin\Downloads\1.xlsx')
psave(dfs,'data')

In [90]:
### print original format
##### the desirable format is:  country name as column name, each column contains only the 'Value' variable ,index is TIME column
##### (see the final result in the last cell)
dt=pd.read_csv(r'C:\Users\Admin\Downloads\CL.csv')
print(dt)

     LOCATION INDICATOR   SUBJECT    MEASURE FREQUENCY     TIME     Value  \
0         CHN       CLI  AMPLITUD  LTRENDIDX         M  1998-09  98.91792
1         CHN       CLI  AMPLITUD  LTRENDIDX         M  1998-10  99.04169
2         CHN       CLI  AMPLITUD  LTRENDIDX         M  1998-11  99.13421
3         CHN       CLI  AMPLITUD  LTRENDIDX         M  1998-12  99.21179
4         CHN       CLI  AMPLITUD  LTRENDIDX         M  1999-01  99.30787
...       ...       ...       ...        ...       ...      ...       ...
1320     EA19       CLI  AMPLITUD  LTRENDIDX         M  2020-05  93.87367
1321     EA19       CLI  AMPLITUD  LTRENDIDX         M  2020-06  97.08099
1322     EA19       CLI  AMPLITUD  LTRENDIDX         M  2020-07  97.72787
1323     EA19       CLI  AMPLITUD  LTRENDIDX         M  2020-08  97.85845
1324     EA19       CLI  AMPLITUD  LTRENDIDX         M  2020-09  98.00069

      Flag Codes
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
1320         NaN
1321         NaN
1322         NaN
1323         NaN
1324         NaN

[1325 rows x 8 columns]

In [105]:
##get all country names
loc=pd.unique(dt['LOCATION'])

In [106]:
d={}
#put different countries' data into a dictionary
for i in loc:
    df1 = dt[dt['LOCATION'] ==i]
    d[i]=df1

In [107]:
###drop columns named ['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes','LOCATION']
###reset dataframe index to datetime formate using the 'TIME' column
for i in d:
    d[i]=d[i].set_index('TIME')
    d[i]=d[i].drop(columns=['INDICATOR','SUBJECT','MEASURE','FREQUENCY','Flag Codes','LOCATION'])

In [108]:
### rename column from 'value' to 'country_name CLI'
for i in d:
    d[i]=d[i].rename(columns={'Value': "{}CLI".format(i)})

Index(['Value'], dtype='object')

In [109]:
for i in d:
    psave(d[i],i)

In [111]:
import datetime

def add(x):
    ### add a date to each year-month datetime
    return x+'-01'
### rewrite datetime format
def trans(x):
    return datetime.datetime.strptime(x ,'%Y-%m-%d')


for l in loc:
    indexrn={}
    for i in d[l].index:
        
        indexrn[i]=add(i)
        d[l]=d[l].rename(index=indexrn)
x=0
#merge all dataframe from the dictionary to one single dataframe
for i in d:
    if x!=0:
        a=pd.merge(d[i], a, right_index=True, left_index=True)
    if x==0:
        a=d[i]
    x+=1

In [118]:
###desired format
a

              EA19CLI    G-7CLI     USACLI   OECDCLI     CHNCLI
TIME
1998-09-01  100.33540  99.28725   99.73144  99.25944   98.91792
1998-10-01  100.19410  99.25543   99.73146  99.19138   99.04169
1998-11-01  100.08760  99.31064   99.83469  99.21938   99.13421
1998-12-01  100.01880  99.43312  100.00400  99.33133   99.21179
1999-01-01   99.98244  99.60307  100.21350  99.50413   99.30787
...               ...       ...        ...       ...        ...
2020-05-01   93.87367  94.48206   94.35810  94.81512   97.97731
2020-06-01   97.08099  96.71966   96.19939  97.03869   98.41081
2020-07-01   97.72787  97.94318   97.57684  98.08919   98.95142
2020-08-01   97.85845  98.41529   98.15066  98.53291   99.53043
2020-09-01   98.00069  98.70121   98.57640  98.79954  100.13170

[265 rows x 5 columns]

In [126]:
###frop data from 1998
ab=a.drop(a.index[:4])
ab

              EA19CLI     G-7CLI     USACLI    OECDCLI     CHNCLI
TIME
1999-01-01   99.98244   99.60307  100.21350   99.50413   99.30787
1999-02-01   99.96341   99.78938  100.42720   99.70243   99.44713
1999-03-01   99.97186   99.97186  100.61920   99.90104   99.65142
1999-04-01  100.02000  100.14860  100.78690  100.09500   99.89163
1999-05-01  100.12130  100.32060  100.93010  100.28710  100.12230
...               ...        ...        ...        ...        ...
2020-05-01   93.87367   94.48206   94.35810   94.81512   97.97731
2020-06-01   97.08099   96.71966   96.19939   97.03869   98.41081
2020-07-01   97.72787   97.94318   97.57684   98.08919   98.95142
2020-08-01   97.85845   98.41529   98.15066   98.53291   99.53043
2020-09-01   98.00069   98.70121   98.57640   98.79954  100.13170

[261 rows x 5 columns]

In [128]:
###save file as pickle
psave(ab,'CLI')
pload('CLI')

              EA19CLI     G-7CLI     USACLI    OECDCLI     CHNCLI
TIME
1999-01-01   99.98244   99.60307  100.21350   99.50413   99.30787
1999-02-01   99.96341   99.78938  100.42720   99.70243   99.44713
1999-03-01   99.97186   99.97186  100.61920   99.90104   99.65142
1999-04-01  100.02000  100.14860  100.78690  100.09500   99.89163
1999-05-01  100.12130  100.32060  100.93010  100.28710  100.12230
...               ...        ...        ...        ...        ...
2020-05-01   93.87367   94.48206   94.35810   94.81512   97.97731
2020-06-01   97.08099   96.71966   96.19939   97.03869   98.41081
2020-07-01   97.72787   97.94318   97.57684   98.08919   98.95142
2020-08-01   97.85845   98.41529   98.15066   98.53291   99.53043
2020-09-01   98.00069   98.70121   98.57640   98.79954  100.13170

[261 rows x 5 columns]